
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
.html, body {
    height: 100%;
    background: #ecfff1;
    transition: .3s;
}
.bi {
    font-size: 1.5rem;
    cursor: pointer;
}
.bi-moon {
    display: none;
}
.menu {
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
    box-shadow: .5px .5px 10px .5px #a5b8aa;
}
.input {
    display: none;
}
.themeContent {
    margin-top: .8rem;
}
.menuLogo {
    display: flex;
}
.main {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
}  
.pokeImg {
    height: 55px;
    width: 55px; 
    margin-right: 1rem;
}
.pokemonList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.card {
    height: 400px;
    width: 280px;
    margin-top: 50px;
    padding: 1.8rem 1rem;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins";
    font-size: 14px;
    border: none;
    box-shadow: 3px 1px 15px rgba(0, 0, 0, 0.514);
    background-image: linear-gradient(165.9deg, rgba(223, 255, 191, 1), rgb(255, 203, 240) );
    cursor: pointer;
}
.card:hover {
    transform: scale(1.05,1.05);
}
.image {
    height: 100px;
    width: 100px;
}
.pikachuImage {
    height: 100px;
    width: 110px; 
    margin-left: 40px;
}
.header {
    padding: 8px 8px;
    display: flex;
    width: fit-content;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(128, 2, 92);
    color: rgb(247, 247, 153);
    margin-bottom: 2rem;
}
.character {
    font-family: 'Press Start 2P', cursive;
    padding: .2rem;
}
.typeOne {
    margin-top: 1rem;
    border-radius: 3px;
    padding: .2rem .5rem;
    background-color: rgb(255, 0, 191);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    color: #000;
}
.info {
    text-align: start;
    font-size: 1rem;
    font-weight: bold;
    height: 250px;
    list-style: none;
    text-transform: uppercase;
}
/* Dark theme */

.dark, .darkHeader {
    background-color: #263238;
    color: #000;
}
.dark .bi-sun {
    display: none;
}
.dark .bi-moon {
    display: block;
}
.dark .card {
    height: 400px;
    width: 280px;
    margin-top: 50px;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins";
    font-size: 14px;
    border: none;
    box-shadow: 3px 1px 15px rgba(0, 0, 0, 0.514);
    cursor: pointer;
    background: linear-gradient(165.9deg, #42E6F0 , #C834E0 70.32% );
}
.dark .menu {
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
    box-shadow: .5px .5px 10px .5px #000000;
    color: #ecfff1;
}
.dark .typeOne {
    margin-top: 1rem;
    border-radius: 3px;
    padding: .2rem .5rem;
    background-color: rgb(247, 247, 153);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    color: #000;
}
